body{
  font-family: 'Plus Jakarta Sans';
  color: white;
  margin: 0;
  padding: 0;
  background-image: url('/static/starbg.png');
}

@media (orientation:landscape){
.subtitle{
  top: 7.5px;
  margin: 0;
  margin-top: 10px;
  font-size: 5vh;
  text-align: center;
}
#titleh1{
  margin: 0;
  bottom: 0;
  font-size: 5em;
  text-align: center;
}
#center-logo{
  height: 20vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;
  margin-bottom: auto;
}
.page-title{
  top: 7.5px;
  margin: 0;
  margin-top: 40px;
  font-size: 10vh;
  text-align: center;
}
}
@media (orientation: portrait) {
  .subtitle{
  top: 7.5px;
  margin: 0;
  margin-top: 10px;
  font-size: 5vw;
  text-align: center;
}
#titleh1{
  margin: 0;
  bottom: 0;
  font-size: 5em;
  text-align: center;
}
#center-logo{
  height: 20vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vw;
  margin-bottom: auto;
}
.page-title{
  top: 7.5px;
  margin: 0;
  margin-top: 40px;
  font-size: 10vw;
  text-align: center;
}
}
.normal-form{
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#text-form {
  width: 60%;
  height: 25px;
  margin: 0 auto;
  border: none;
  border-radius: 10px
}
textarea{
  font-family: 'Plus Jakarta Sans';
  resize: vertical; 
  max-height: 300px; 
  min-height: 200px;
  white-space: pre-line
}
p{
  text-align: center;
  white-space: pre-line
}
input[type=submit]{
  border-radius: 5px;
  font-family: 'Plus Jakarta Sans';
  border: none;
}
button{
  border-radius: 5px;
  font-family: 'Plus Jakarta Sans';
  border: none;
}
.error-notif{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: auto;
  background-color: red;
  border-radius: 5px;
}
.project-item h3{
  text-align: center;
}
.project-item p{
  text-align: center;
  margin-left: 250px
}
.project-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: auto;
  margin-top: 20px;
  background-color: gray;
  border-radius: 5px;
}
.nav {
  padding: 20px;
  list-style-type: none;
  text-align: center;
}
.nav li {
  display: inline-block;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}