<!DOCTYPE HTML>
<html>
  <head>
    <title>Create a Project | GroundScratch</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="preload stylesheet" href="{{ url_for('static', filename='PlusJakartaSans.css') }}"/>
    <meta name="theme-color" content="#090909"
  </head>
  <body>
    <h1 class="page-title">Create a project</h1>
    <form class="create-project-form" enctype="multipart/form-data" method="post">
            <input id="text-form" type=text name=name placeholder="Project Name"><br>
            <textarea id="text-form" name=description placeholder="Description">An awesome description!</textarea>
            <br>
            <input id="select-form" accept=".sb3" type=file name=file>
            <br>
            <input type=submit value=Create>
        </form>
  </body>
</html>