<!DOCTYPE HTML>
<html>
  <head>
    <title>Credits | GroundScratch</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="preload stylesheet" href="{{ url_for('static', filename='PlusJakartaSans.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='project-style.css') }}"/>
  </head>
  <body>
    <div id="projectframe"><h1 class="left-aligned">Credits</h1>
    <h2 class="left-aligned">GroundScratch uses these technologies to make it up and running:</h2>
    <p class="left-aligned">
        Flask, for the web framework
    </p>
    <p class="left-aligned">
        Flask-Login, for the login back-end infrastucture
    </p>
    <p class="left-aligned">
        Flask-Cors, for the CORS (Cross-Origin Resource Sharing) implementation
    </p>
    <p class="left-aligned">
        Flask-Migrate, for the migrate database functionnality
    </p>
    <p class="left-aligned">
        Polaris, the orginal base code of GroundScratch.
    </p>
    <p class="left-aligned">Thanks to all of these guys that made these technologies for powering GroundScratch!</p>
    </div> 
</body>